<script defer>
(function() {
  "use strict";
  angular.module("{{module}}").controller("OTP{{fieldid}}Controller", [
    "$scope","$element",
    function(scope, element) {
      var m="ABCDEFGHIJKLMNOPQRSTUVWXYZ234567", v = [], i;
      scope.click{{fieldid}} = function() {
        for(i=0; i<16; i++) {
          v.push(m[Math.floor(Math.random() * 32)]);
        }
        scope.{{ng_model}} = v.join("");
        {% if qrcode_url %}
          scope.qrcode = {'url': "{{ qrcode_url }}?secret=" + v};
        {% endif %}
      };
    }
  ]);
})()
</script>
