{% macro params(dct) -%}
{% for (key, value) in dct.items() %} {{ key }}="{{ value }}"{% endfor %}
{%- endmacro %}
<div{{ params(div_args) }}>
  {%if qrcode.url -%}
  <div{{ params(qrcode.args) }}></div>
  {%- endif %}
  <input type="text" readonly{{ params(input_args) }}>
  <button type="button"{{ params(button_args) }}>
    Get Secret Key
  </button>
  <script>
  {% if "data-ng-model" in input_args -%}
  {% include("angular_script.js") -%}
  {%- else -%}
  {% include("jquery_script.js") -%}
  {%- endif %}
  </script>
</div>
